<h1>Movies in list:  <%= @list.name %></h1>

<div class="row">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="col-lg-4 col-md-6">
      <div class="card mb-3 equal-height-card"> <!-- Use the custom class for equal height -->
        <div class="row g-0">
          <div class="col-md-4">
            <!-- Apply the custom class to make the image cover the full height -->
            <img src="<%= bookmark.movie.poster_url %>" class="img-fluid rounded-start card-img-left" alt="<%= bookmark.movie.title %>">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= bookmark.movie.title %></h5>
              <p class="card-text"><%= bookmark.comment %></p>
              <p class="card-text"><%= bookmark.movie.overview %></p>
              <p class="card-text"><%= bookmark.movie.created_at.to_formatted_s(:short) %></p>
              <%= link_to 'Delete', bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>



<%= link_to "Bookmark a movie", new_list_bookmark_path(@list)%>


<h1>Want to add a movie? Search for it!</h1>
<div data-controller="search">
 <form id="search-movies" >
            <div class="form-group">
              <label for="movie-name" class="form-label">Enter a movie name</label>
              <div class="d-flex">
                <input data-search-target="input" type="text" id="movie-name" class="form-control" placeholder="The Shawshank Redemption, The Godfather...">
                <input type="submit" value="Search" class="btn btn-primary ms-2" data-action="click->search#search">
              </div>
            </div>
  </form>

 <div class="row m-3" id="movie-cards" data-search-target="cards">
        <!-- TODO: Display movie posters here -->
      </div>
</div>
